html {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100%;
    padding: 0;
    background-image: url("https://sumayia.neocities.org/Images/blue.jpg");
    background-size: 100%
}

.main-container {
    display: flex;
    justify-content: center;
    flex-flow: wrap column;
    ;
}

.container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    border: 1px solid #2d2d83;
    border-radius: 5px;
    width: 60%;
    margin: 10% auto;
    padding: 4%;
    background-color: white;
}

.container #title {
    font-size: 5rem;
    margin: auto;
    color: #2d2d83;
}

.container #timer {
    display: none;
}

.container #start-page {
    display: flex;
    justify-content: center;
    margin: 7% auto 7% auto;
}

.container #start-page input, #submit-btn, #nxt-btn  {
    padding: 0 2em;
    height: 2em;
    font-size: 2em;
    border: 1px solid #7573b2;
    border-radius: 5px;
    color: #2d2d83;
}

.container #start-page input {
	background-color: #6ec2dc;
    border: 1px solid 
}

.container #trivia-content {
    display: none;
}

.question {
    width: 30%;
    background-color: beige;
    height: 20px;
}

.container #answer-display-page {
    display: none;
}